body{
    
    margin: 0;
   
}
*{
    font-family:Arial, Helvetica, sans-serif;   
}
header h3{
    margin: 0;
}
header{
    height: 100vh;
        background: src="images.jpg";
    color: white;
    font-size: 20px;
}
.welcome{
    color: red;
}
*{
    font-family: initial;
}
.button{
    height: 40px;
    width: 140px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color:white;
    background-color:blueviolet;
   
}

button:hover{
    color: white;
   background-color:red;
}
footer{
    text-align: center;
    background-color: black;
    height: 100px;
    color: grey;
}
img{
    position: relative;
    bottom: -50px;
    right: -640px;
    width: 2cm;
}
.RGUKT{
    border: 10px;
    text-align: center;
    right: -60px;
    font-size:30px;
    position:relative;
    color: red;
}